body {
    font-family: Arial, sans-serif;
    background: #e6f1ff;
    margin: 0;
    padding: 0;
    color: #003366;
}

header {
    background: #4da3ff;
    padding: 20px;
    text-align: center;
    color: white;
}

.sub {
    margin-top: -10px;
    font-size: 14px;
}

section {
    padding: 20px;
}

.feature-card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #4da3ff;
    border-radius: 8px;
}

#timer {
    text-align: center;
}

#time-display {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

button {
    background: #4da3ff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1c7dde;
}
